# Maven build output
target/

# IntelliJ / Eclipse / VS Code
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Reports & artifacts
reports/
screenshots/

# Drivers
drivers/


